{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
  <br /><br />
  <div class="row pb-2">
    {% for item in cart %}
    <div
      class="col-md-4 container p-5"
      style="border: 4px solid black; background-color: rgb(228, 229, 229)"
    >
      <h4>
        Food item :
        <span style="font-weight: lighter; font-size: 20px">{{item.item}}</span>
      </h4>
      <h4>
        Quantity :
        <span style="font-weight: lighter; font-size: 20px"
          >{{item.quantity}}</span
        >
      </h4>
    </div>
    {% endfor %}

    <h4 align="center" style="margin-top: 20px">
      Total Bill :
      <span style="font-weight: lighter; font-size: 20px">{{total_price}}</span>
    </h4>
    <h4 align="center">
      Delivery Address :
      <span style="font-weight: lighter; font-size: 20px">{{address}}</span>
    </h4>
  </div>
  <div
    class="row p-5"
    style="border: 2px solid black; background-color: #f1f2f3"
  >
    <form
      action="{% url 'orderconfirm' %}"
      class="was-validated"
      style="padding: 20px"
      method="post"
    >
      {% csrf_token %}
      <div class="row">
        <input
          type="text"
          placeholder="Enter CardHolder Name (Not digit)"
          name="username"
          class="form-control m-2"
          id="username"
          required
        />
      </div>
      <div class="row">
        <input
          type="number"
          placeholder="Enter CardNumber"
          name="cardnumber"
          class="form-control m-2"
          id="cardnumber"
          required
        />
      </div>
      <div class="row">
        <div class="col-md-6">
          <input
            type="number"
            placeholder="Enter CVC"
            name="cvc"
            class="form-control m-2"
            id="cvc"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="date"
            placeholder="Expairy Date"
            name="date"
            class="form-control m-2"
            id="date"
            required
          />
        </div>
      </div>
      <div class="row d-block mx-auto mt-5">
        <input type="submit" class="btn btn-dark" value="Submit" />
      </div>
    </form>
  </div>
</div>
{% endblock content %}
